export(amortization)
export(fix.rate)
export(flex.rate)
export(interest.pay)
export(line.plot.pay)
export(plan.pay)
export(ribbon.plot.pay)
export(shiny.app)
export(shinyPlan2plan)
export(summaryPay)
